.lead__title{
    width: 782px;
    height: 184px;
    font-family: Inter;
    font-size: 96px;
    line-height: 92px;
    font-weight: 900;
    text-align: center;
    color: #FFFFFF;
    margin: auto;
}