@import url(../__item/additional__item.css);
@import url(../__item-layer/additional__item-layer.css);
.additional__container{
    display: flex;
    justify-content: space-between;
    margin: 64px auto 0px;
}