.lead__subtitle{
    width: 583px;
    height: 65px;
    font-family: Inter;
    font-size: 30px;
    font-style: normal;
    font-weight: normal;
    line-height: 36px;
    text-align: center;
    color: #FFFFFF;
    margin: 38px auto 0px;
}