.cover__title{
    width: 1094.27px;
    font-family: Inter;
    font-style: normal;
    font-weight: 900;
    font-size: 72px;
    line-height: 78px;
    text-align: center;
    text-decoration: none;
    z-index: 1;
    margin: 0px auto 0px;
    color: #FFFDFD;
}